<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DidaktikAppBakio"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".Portada.PortadaDeLaApp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Otras actividades -->
        <!-- Bienvenida a la app -->
        <activity
            android:name=".Bienvenida.BienvenidaApp"
            android:exported="true" />

        <!--Mapa-->
        <activity android:name=".Mapa.Mapa"
            android:exported="true" />

        <!-- Actividad Arrastrar y soltar -->
        <activity
            android:name=".Arrastrar.ActividadBienvenidaArrastrarYSoltar"
            android:exported="true" />
        <activity
            android:name=".Arrastrar.ActividadArrastrarYSoltar"
            android:exported="true" />

        <!-- Actividad Sopa de letras -->
        <activity
            android:name=".Sopa.ActividadBienvenidaSopa"
            android:exported="true" />
        <activity
            android:name=".Sopa.ActividadSopaDeLetras"
            android:exported="true" />

        <!-- Actividad Txakolina -->
        <activity
            android:name=".Txakolina.ActividadBienvenidaTxakolina"
            android:exported="true" />
        <activity
            android:name=".Txakolina.ActividadTxakoli"
            android:exported="true" />

        <!-- Actividad gaztelugatxe -->
        <activity
            android:name=".Gaztelugatze.ActividadBienvenidaGaztelugatxeko"
            android:exported="true" />
        <activity
            android:name=".Gaztelugatze.ActividadGaztelugatxeko"
            android:exported="true" />

        <!--Actividad Kahoot -->
        <activity
            android:name=".Kahoot.ActividadBienvenidaKahoot"
            android:exported="true" />
        <activity
            android:name=".Kahoot.ActividadKahoot"
            android:exported="true" />
        <activity
            android:name=".Kahoot.FinKahoot"
            android:exported="true" />

        <!-- Actividad bela -->
        <activity
            android:name=".Bela.ActividadBienvenidaBela"
            android:exported="true" />
        <activity
            android:name=".Bela.ActividadBela"
            android:exported="true" />

        <!-- Actividad San pelaio -->
        <activity
            android:name=".SanPelaio.ActividadBienvenidaSanPelaio"
            android:exported="true" />
        <activity
            android:name=".SanPelaio.ActividadSanPelaio"
            android:exported="true" />

        <!-- Actividad Wally -->
        <activity
            android:name=".Wally.ActividadBienvenidaWally"
            android:exported="true" />

        <activity
            android:name=".Wally.ActividadWally"
            android:exported="true" />
        <!-- Fin del juego -->
        <activity
            android:name=".Final.FinDelJuego"
            android:exported="true" />

    </application>

</manifest>